<%= form_for(@coupon) do |f| %>
  <% if @coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

      <ul>
      <% @coupon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %>*<br>
    <%= f.text_field :code %>
    <br>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
    <br>
    <%= f.label :valid_from %>*<br>
    <%= f.date_field :valid_from %>
    <br>
    <%= f.label :valid_until %><br>
    <small>Leave blank if never expires</small><br>
    <%= f.date_field :valid_until %>
    <br>
    <%= f.label :limit %><br>
    <small>Leave blank if unlimited</small><br>
    <%= f.number_field :limit %>
    <br>
    <%= f.label :amount_type, 'Type*' %><br>
    <%= f.select :amount_type, [['% (Percentage)', :percentage], ['$ (Sum)', :portion]] %>
    <br>
    <%= f.label :amount %>*<br>
    <small>Must be greater than zero (and less than 101 if using percentage)</small><br>
    <%= f.number_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
