<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @coupon.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @coupon.description %>
</p>

<p>
  <strong>Value:</strong>
  <%= display_amount(@coupon) %>
</p>

<p>
  <strong>Begins:</strong>
  <%= @coupon.begins %>
</p>

<p>
  <strong>Expires:</strong>
  <%= @coupon.expires %>
</p>

<p>
  <strong>Used:</strong>
  <%= @coupon.redeemed %>
</p>

<p>
  <strong>Limit:</strong>
  <%= display_limit(@coupon) %>
</p>

<%= link_to 'Edit', edit_coupon_path(@coupon) %> |
<%= link_to 'Back', coupons_path %>
